<html>
  <head><LINK REL=StyleSheet HREF="style.css" TYPE="text/css" ></head>
    <body >
      <form name = "issues" action = "/prosess" method = "POST">
        <BR>&nbsp;&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        Title: <input type="text" name="title" />
        <BR>&nbsp;
        Description: <textarea name = "description" rows="2" cols="20">
        </textarea>
        <BR>&nbsp;<BR>
        <INPUT id="r1" type="radio" value="1" name="RadioGroup" CHECKED>Open<BR />
        <INPUT id="r2" type="radio" value="2" name="RadioGroup">In-porgress<BR />
        <INPUT id="r3" type="radio" value="3" name="RadioGroup">Cloes<BR />
        <BR>&nbsp;<BR>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="submit"  value="Submit"/>
      </form>
    </body>
  </html>
