<html>
  <%#*<head><LINK REL=StyleSheet HREF="style.css" TYPE="text/css" ></head>%>
    <body >
      <center>
      <form name = "issues" action = "/prosess" method = "POST">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Title: <input type="text" name="title" />
       
        <br>&nbsp;<br>Description: <textarea name = "description" rows="2" cols="20"></textarea>
        <br>&nbsp;<br>
        <input id="r1" type="radio" value="open" name="state" CHECKED>Open<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="r2" type="radio" value="in-progress" name="state">In-porgress<br />
        <input id="r3" type="radio" value="close" name="state">Cloes<br />
        
       
        <input type="submit"  value="Submit"/>
      </form>
      </center>
    </body>
  </html>
